.btn{
    height: 20px;
    width: 60px;
    margin: 5px;
    border: none;
    background-color: whitesmoke;
    font-size: 1rem;
}
#navbtn{
    height: 30px;
    width: 70px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar1{
    display: flex;
    justify-content:center;
    font-size: 10rem;
}
.box{
    height: 350px;
    width: 99%;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow, green);
    background-image: url("https://www.mrporter.com/cms/ycm/resource/blob/2029710/658b52dc9f5f99160c225915e205d795/opener-jpg-data.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.section{
    flex: 1 1 auto;
    display: flex;
    margin: 20px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.menu{
    /*background-color: rgb(216, 136, 136);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
   min-width: 30%;
    margin: 10px;
    flex: 1 1 auto;
    display: flex;
}
.menu:hover .menu{
    cursor: pointer;
    opacity: 0.3;
}
.content{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#first {
    position: relative;
    width: 400px;
    height: 250px;
    
  }

  #first #second {
    position: absolute;
    width: 30%;
    height: 40%;
    background: rgb(231, 238, 231);
    left: 35%;
    top: 35%;
    opacity: .4;
  }
  .box {
    position: relative;
    text-align: center;
    color: white;
  }
  .boxitemname {
    font-size: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .body{
    background-color: whitesmoke;
  }
  .mdl{
    height: 600px;
    width: 300px;
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: none;
    position: relative;
    left: 80%;
  }